In [1]:
poem = '''Johny johny 
yes papa eating sugar no papa'''

In [2]:
print(poem)

Johny johny
yes papa eating sugar no papa

In [3]:
poem

'Johny johny \nyes papa eating sugar no papa'

In [4]:
fruits = ['apple','banana','mango','orange','cherry','avacado','dragon fruit','guava','pineapple']
print(fruits)

['apple', 'banana', 'mango', 'orange', 'cherry', 'avacado', 'dragon fruit', 'guava', 'pineapple']

In [5]:
fruits

['apple',
 'banana',
 'mango',
 'orange',
 'cherry',
 'avacado',
 'dragon fruit',
 'guava',
 'pineapple']

In [6]:
fruits = ('apple','banana','mango','orange','cherry','avacado','dragon fruit','guava','pineapple')
print(fruits)

('apple', 'banana', 'mango', 'orange', 'cherry', 'avacado', 'dragon fruit', 'guava', 'pineapple')

In [7]:
fruits

('apple',
 'banana',
 'mango',
 'orange',
 'cherry',
 'avacado',
 'dragon fruit',
 'guava',
 'pineapple')

In [8]:
fruits = {'apple','banana','mango','orange','cherry','avacado','dragon fruit','guava','pineapple'}

In [9]:
print(fruits)

{'pineapple', 'mango', 'orange', 'cherry', 'guava', 'apple', 'banana', 'avacado', 'dragon fruit'}

In [10]:
student = {
    "name":"vishal",
    "age":20,
    "course":"BCA",
    "college":"BBDU"
} 
print(student)

{'name': 'vishal', 'age': 20, 'course': 'BCA', 'college': 'BBDU'}

In [11]:
# to check the data type
type(student)

dict

## Typecasting

In [12]:
a = input("Enter a number:")
b = int(a)
print(a)
print(b)

5
5

In [13]:
a = int(input("Enter a number:"))
print(a)

4

In [14]:
type(a)

int

In [15]:
type(a)

int