In [1]:
student = {'name':'Geershati',
'age':20,
'class':"Python",
'marks':80}
print(student)

{'name': 'Geershati', 'age': 20, 'class': 'Python', 'marks': 80}

In [2]:
temp ={
    'lucknow':[32,25,43],
    'kanpur':[42,40,38],
    'delhi':[21,28,40],
    }
print(temp)

{'lucknow': [32, 25, 43], 'kanpur': [42, 40, 38], 'delhi': [21, 28, 40]}

In [3]:
info = dict(name = 'Geershati',age = 20,course = 'Python',marks = 90)
print(info)

{'name': 'Geershati', 'age': 20, 'course': 'Python', 'marks': 90}

In [4]:
info2 = dict(name = input("Enter your name:"),age = 20 , course ='Python',marks= 90)
print(info2)

{'name': 'Geershati', 'age': 20, 'course': 'Python', 'marks': 90}

In [5]:
# first method to access its value using its key
print(info['name'])

Geershati

In [6]:
# second method to access its value using its key
print(info.get('age'))

20

In [7]:
# to add a new pair in the dictionery
student['city']='lucknow'
print(student)

{'name': 'Geershati', 'age': 20, 'class': 'Python', 'marks': 80, 'city': 'lucknow'}

In [8]:
print(student.keys)
print(student.keys())
print(student.values)
print(student.values())
print(student.items)
print(student.items())

<built-in method keys of dict object at 0x00000177E7607400>
dict_keys(['name', 'age', 'class', 'marks', 'city'])
<built-in method values of dict object at 0x00000177E7607400>
dict_values(['Geershati', 20, 'Python', 80, 'lucknow'])
<built-in method items of dict object at 0x00000177E7607400>
dict_items([('name', 'Geershati'), ('age', 20), ('class', 'Python'), ('marks', 80), ('city', 'lucknow')])

In [9]:
for k,v in student.items():
    print(f' {k} : {v}')

 name : Geershati
 age : 20
 class : Python
 marks : 80
 city : lucknow

In [10]:
a = 10
b = 20
c = a+b
print('Sum is:',c)
print('Sum of',a,'and',b,'is',c)
print(f'sum of {a} and {b} is {c}')

Sum is: 30
Sum of 10 and 20 is 30
sum of 10 and 20 is 30

In [11]:
company = {
    'emp1':{
        'name':"John",
        'salary':250000,
        'city':"delhi"
    },
    'emp2':{
        'name':"Karan",
        'salary':350000,
        'city':"kanpur"
    },
    'emp3':{
        'name':"Rohan",
        'salary':450000,
        'city':"lucknow"
    }
}
print(company)

{'emp1': {'name': 'John', 'salary': 250000, 'city': 'delhi'}, 'emp2': {'name': 'Karan', 'salary': 350000, 'city': 'kanpur'}, 'emp3': {'name': 'Rohan', 'salary': 450000, 'city': 'lucknow'}}

In [12]:
from pprint import pprint

In [13]:
pprint(company)

{'emp1': {'city': 'delhi', 'name': 'John', 'salary': 250000},
 'emp2': {'city': 'kanpur', 'name': 'Karan', 'salary': 350000},
 'emp3': {'city': 'lucknow', 'name': 'Rohan', 'salary': 450000}}

In [14]:
print(company['emp2']['name'])

Karan

In [15]:
print(temp['lucknow'][1])

25

In [16]:
print('average temp in lucknow:',sum(temp['lucknow'])/len(temp['lucknow']))

average temp in lucknow: 33.333333333333336

In [17]:
rno=[]
mks = []
for a in range(4):
    r,m = eval(input("Enter roll no., Marks:"))
    rno.append(r)
    mks.append(m)
d = {rno[0]:mks[0],rno[1]:mks[1],rno[2]:mks[2],rno[3]:mks[3]}
print("The created dictionery is")
print(d)

The created dictionery is
{1: 25, 2: 85, 3: 65, 4: 55}

In [18]:
d.keys()

dict_keys([1, 2, 3, 4])

In [19]:
PhonDict = {"Madhav":8382832382,"Seteven":8982932983,"Diljit":98272832378,"Aman":62782837892,"Rabiya":38989292723,"Sampree":8982827843,"Roma":9838827389749}
for name in PhonDict:
    print(name,":",PhonDict[name])

Madhav : 8382832382
Seteven : 8982932983
Diljit : 98272832378
Aman : 62782837892
Rabiya : 38989292723
Sampree : 8982827843
Roma : 9838827389749

In [20]:
a = {}
n = int(input("How many states you want to store : "))
for i in range(n):
    st = input("Enter the name of state : ")
    cap = input("Enter the name of capital : ")
    a[st] = cap
print("States and their capital are : ")
print(a)

States and their capital are :
{'Andhra Pradesh': 'Amaravati', 'Arunachal Pradesh': 'Itanagar', 'Assam': 'Dispur', 'Bihar': 'Patna', 'Chhattisgarh': 'Raipur', 'Goa': 'Panaji', 'Gujarat': 'Gandhinagar', 'Haryana ': 'Chandigarh', 'Himachal Pradesh ': 'Shimla', 'Jharkhand': 'Ranchi', 'Karnataka': 'Bengaluru', 'Kerala': 'Thiruvanathapuram', 'Madhya Pradesh': 'Bhopal', 'Maharastra': 'Mumbai', 'Manipur': 'Imphal', 'Meghalaya': 'Shillong', 'Mizoram': 'Aizwal', 'Nagaland': 'Kohima', 'Odisha': 'Bhubaneshwar', 'Punjab': 'Chandigarh', 'Rajasthan': 'Jaipur', 'Sikkim': 'Gangtok', 'Tamil Nadu': 'Chennai', 'Telangana': 'Hyderabad', 'Tripura': 'Agartala', 'Uttar Pradesh': 'Lucknow', 'Uttarakhand ': 'Dehradun', 'West Bengal': 'Kolkata'}